/* Author: Brady Lange */
/* Date: 11/29/17 */

.slot1 {position:relative; margin-top:-220px; margin-left:270px}
#jackpot{color:red;position:relative; margin-top:180px;}
#notjackpot{position:relative; margin-top:180px;}
